body{
 margin-left: 100px;
 margin-right: 100px;
 font-family: 'Arial';
}
h1{
    text-align: center;
    background-color: rgb(44, 38, 38);
    text-decoration: none;
    color: burlywood;
}

p{
    text-align: center;
    background-color: rgb(68, 58, 58);
    color: cadetblue;
    font-size: large;
    font-style: bold;

}
.App{
    margin:auto;
    max-width: 900px;
}
